<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gerenciador de Tarefas</h1>
    </div>
    
    <form action="/add_task" method="post">
        <label for="description">Descrição:</label>
        <input type="text" name="description" required>
        
        <label for="due_date">Data de Vencimento:</label>
        <input type="date" name="due_date" required>
        
        <label for="priority">Prioridade:</label>
        <select name="priority" required>
            <option value="1">Crítica</option>
            <option value="2">Urgente</option>
            <option value="3">Média</option>
            <option value="4">Importante</option>
            <option value="5">Baixa</option>  
        </select>
    
       <!-- Novo campo para a nota -->
        <div class="note-section">
        <label for="note">Observação:</label>
        <textarea id="note" name="note" rows="4" cols="50"  style="background-color: white;"></textarea>
        </div>

    
        <button type="submit">Adicionar Tarefa</button>
    </form>

   <!-- app/templates/index.html -->
<!-- ... -->

<ul>
    {% for task in tasks %}
        <li>
            <div class="task-info">
                {{ task.description }} - {{ task.due_date }} - Prioridade: <span class="priority">{{ task.priority }}</span> - Status: {{ task.status }}
                <!-- Adicionado campo de observação -->
                {% if task.note %}
                    - Observação: {{ task.note }}
                {% endif %}
            </div>
            <div class="task-buttons">
                <a class="delete-button" id="delete-button" href="{{ url_for('delete_task', task_id=tasks.index(task)) }}">Excluir</a>
                <a class="edit-button" href="{{ url_for('edit_task', task_id=tasks.index(task)) }}">Editar</a>
                {% if task.status == 'Pendente' %}
                    <a id="complete-button" class="complete-button" href="{{ url_for('complete_task', task_id=tasks.index(task)) }}">Concluir</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<!-- ... -->

</body>
</html>
